.demo_img{    
    text-align: center;
    margin-bottom: 50px;
    .img-wrap{
        max-height: 175px;
        overflow: hidden;
        margin-bottom: 30px;
        box-shadow: 0px 36px 48px rgba(31, 66, 135, 0.04);
    }
    img{
        border-radius: 5px;
    }
}